
/* Gif */

.Gif {
  margin-bottom: .5em;
}

.Gif-link {
  color: #000;
  display: block;
  text-decoration: none;
  position: relative;
  width: 100%;
}

.Gif h4 {
  background: rgba(0, 0, 0, .3);
  bottom: 0;
  font-size: 12px;
  color: #fff;
  margin: 0;
  position: absolute;
}

.Gif img {
  width: 100%;
  object-fit: contain;
  vertical-align: top;
}

i {
  font-size: 80px;
}

 
/* ListOfGif */

:root {
  --results-columns: 1;
}

.ListOfGifs {
  display: grid;
  grid-gap: 0 1%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: masonry;
  min-height: 100vh;
}

.ListOfGifs-item {
  background-color: #eee;
  display: inline-block;
  width: 100%;
}

@media (min-width: 600px) {
  :root {
    --results-columns: 2;
  }
}

@media (min-width: 800px) {
  :root {
    --results-columns: 3;
  }
}


/* Spinner */

.lds-ring {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #8c58a3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #8c58a3 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}